* {
  margin: 0%;
  padding: 0%;
  font-family: "Inter", sans-serif;
}

.bg1 {
  background-color: #F8F7F3;
}

.bg2 {
  background-color: white;
}

.container {
  padding: 3%;
}

.sectionContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 99px;
}
.sectionContent .contentDescription .subtitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.sectionContent .contentDescription h2 {
  font-size: 40px;
  font-weight: 600;
}
.sectionContent .contentDescription span {
  width: 100%;
  font-weight: 400;
  font-size: 30px;
}
.sectionContent .contentDescription .text {
  margin-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
}
.sectionContent .contentDescription ul {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 60px;
}
.sectionContent .contentDescription ul li {
  margin-left: 20px;
}
.sectionContent .sectionImg {
  width: 50%;
}
.sectionContent .sectionImg img {
  width: 100%;
}

header {
  width: 100%;
}
header nav {
  padding: 18px 120px;
}
@media screen and (max-width: 1024px) {
  header nav {
    padding: 18px 60px;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
}
header nav ul li {
  cursor: pointer;
  transition: 0.5s;
}
header nav ul li:hover {
  color: #F57148;
}
header nav .desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .desktop div {
  display: flex;
  align-items: center;
  gap: 40px;
}
header nav .mobile {
  display: none;
}
header nav .mobile div.mobileMenu {
  display: none;
}
header nav .mobile div.mobileMenu ul {
  text-align: right;
}
header nav .mobile div.mobileMenu ul li {
  text-align: right;
}

main {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainContent div {
  width: 50%;
}
main .mainContent .mainText h1 {
  width: 456px;
  font-size: 80px;
  color: #F57148;
}
main .mainContent .mainText span {
  color: #F57148;
  font-weight: 300;
  font-size: 65px;
}
main .mainContent .mainText p {
  margin-top: 50px;
  margin-bottom: 60px;
}
main .mainContent .mainText .email {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}
main .mainContent .mainText div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
main .mainContent .mainText div .PrimaryButton {
  min-width: 160px;
}
main .mainContent .mainText div p {
  font-size: 42px;
  font-weight: 300;
  margin: 0%;
}
main .mainImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainImage img {
  width: 100%;
}

.PrimaryButton {
  background-color: #322728;
  color: white;
  border: none !important;
  border-radius: 30px;
  width: 160px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
.PrimaryButton:hover {
  background-color: #F57148;
}

.SecondButton {
  background-color: #322728;
  color: white;
  border: none;
  border-radius: 4px;
  width: 160px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}
.SecondButton:hover {
  background-color: #F57148;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 60px;
  flex-wrap: wrap;
}
.products div {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products div img {
  border-radius: 50%;
  height: 259px;
}
.products div h3 {
  text-align: center;
}

.titleContent {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 107px;
  max-width: 100%;
}
.titleContent .title1 {
  width: 673px;
  margin: auto;
  font-size: 40px;
  font-weight: 500;
  max-width: 100%;
}

.subtitle1 {
  font-size: 16px;
  letter-spacing: 0.2em;
  font-weight: 400;
  text-align: center;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 199px;
  margin-top: 98px;
}
.testimonials .testimonial,
.testimonials .testimonial2 {
  width: 451px;
  height: 254px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonials .testimonial .comment,
.testimonials .testimonial2 .comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin: 50px 40px 90px;
  text-align: center;
}
.testimonials .testimonial .avatar,
.testimonials .testimonial2 .avatar {
  position: absolute;
  border-radius: 50%;
  bottom: -65px;
}
.testimonials .testimonial .avatar p,
.testimonials .testimonial2 .avatar p {
  color: #2D2E2E;
  font-weight: 600;
  font-size: 16px;
}
.testimonials .testimonial {
  background-color: #F7F7F7;
  color: #2D2E2E;
}
.testimonials .testimonial2 {
  position: relative;
  bottom: 37px;
  background-color: #322728;
  color: white;
}

.happyHour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.happyHour h2 {
  width: 615px;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 24px;
}
.happyHour p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
}

footer .footerContent {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
footer .footerContent h2 {
  font-size: 16px;
}
footer .footerContent ul {
  max-width: 356px;
  margin-top: 26px;
  list-style: none;
}
footer .footerContent ul li {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 13px;
}
footer .footerContent form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
  width: 467px;
  gap: 18px;
  margin-top: 31px;
}
footer .footerContent form input,
footer .footerContent form textarea {
  width: 100%;
  border: none;
  padding-left: 16px;
  height: 53px;
}
footer .footerContent form textarea {
  width: 96%;
  padding: 17px 16px;
  height: 150px;
}
footer .footerContent form .btnSubmit {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: right;
}

@media screen and (max-width: 768px) {
  header nav {
    padding: 18px 20px;
  }
  header nav .desktop {
    display: none;
  }
  header nav .mobile {
    display: flex;
    display: flex;
    align-items: unset;
    flex-direction: column;
  }
  header nav .mobile .mobileOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .mobile .mobileOptions i {
    width: 50px;
  }
  header nav .mobile .mobileOptions i img {
    width: 30px;
  }
  header nav .mobile .mobileOptions .hamburguer {
    width: 50px;
  }
  header nav .mobile .mobileOptions .hamburguer img {
    width: 100%;
  }
  .sectionContent {
    gap: 20px;
  }
  .sectionContent .contentDescription {
    width: 60%;
  }
  footer .footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  footer .footerContent form {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .mainContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainContent div.mainText {
    width: 100%;
  }
  .mainContent div.mainText h1 {
    width: 100%;
    font-size: 70px;
  }
  .mainContent div.mainText span {
    text-align: center;
    font-size: 50px;
  }
  .mainContent div.mainText div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .mainContent div.mainImage {
    display: none;
  }
  .titleContent {
    margin-bottom: 30px;
  }
  .titleContent .title1 {
    width: 100%;
  }
  .products {
    gap: 20px;
  }
  .products p {
    text-align: center;
  }
  .sectionContent {
    padding: 2%;
    flex-wrap: wrap;
    gap: 5px;
  }
  .sectionContent .sectionImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sectionContent .sectionImg img {
    width: 280px;
    height: 300px;
  }
  .sectionContent .contentDescription {
    text-align: center;
  }
  .sectionContent .contentDescription .text {
    margin-bottom: 20px;
    text-align: justify;
  }
  .sectionContent .contentDescription ul {
    margin-bottom: 20px;
  }
  .testimonials {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 120px;
  }
  .testimonials .testimonial2 {
    bottom: 0px;
  }
  .happyHour h2 {
    width: 100%;
  }
  .happyHour p {
    text-align: center;
  }
  footer .footerContent form {
    min-width: 290px;
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .mainContent div.mainText h1 {
    font-size: 50px;
  }
  .mainContent div.mainText span {
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */