@import './colors.scss';

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Inter', sans-serif;
}

.bg1 {
    background-color: $BgColor1;
}

.bg2 {
    background-color: $BgColor2;
}

.container {
    padding: 3%;
}

@mixin inline($alignment) {
    display: flex;
    align-items: $alignment;
}

@mixin flexCenter($alignment) {
    display: flex;
    align-items: $alignment;
    justify-content: center;
}

@mixin flexBetween($alignment) {
    display: flex;
    align-items: $alignment;
    justify-content: space-between;
}

@mixin flexAround($alignment) {
    display: flex;
    align-items: $alignment;
    justify-content: space-around;
}

@mixin flexEvenly($alignment) {
    display: flex;
    align-items: $alignment;
    justify-content: space-evenly;
}

@mixin flexLeft($alignment) {
    display: flex;
    align-items: $alignment;
    justify-content: left;
}

@mixin column {
    flex-direction: column
}

.sectionContent {
    @include flexCenter(center);
    gap: 99px;

    .contentDescription {
        .subtitle {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 40px;
            font-weight: 600;
        }

        span {
            width: 100%;
            font-weight: 400;
            font-size: 30px;
        }

        .text {
            margin-top: 30px;
            margin-bottom: 60px;
            font-weight: 400;
            font-size: 16px;
        }

        ul {
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 60px;

            li {
                margin-left: 20px;
            }
        }
    }

    .sectionImg {
        width: 50%;

        img {
            width: 100%;
        }
    }
}

header {
    width: 100%;

    nav {
        padding: 18px 120px;

        @media screen and (max-width: 1024px) {
            padding: 18px 60px;
        }

        ul {
            @include flexBetween(center);
            gap: 30px;
            list-style: none;

            li {
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: $PrimaryColor;
                }
            }
        }

        .desktop {
            @include flexBetween(center);

            div {
                @include inline(center);
                gap: 40px;
            }

        }
        .mobile {
            display: none;
            .mobileMenu {
                display: none;
            }
        }
    }
}

main {
    padding: 5%;
    @include flexCenter(center);

    .mainContent {
        @include flexCenter(center);

        div {
            width: 50%;
        }

        .mainText {
            h1 {
                width: 456px;
                font-size: 80px;
                color: $PrimaryColor;
            }

            span {
                color: $PrimaryColor;
                font-weight: 300;
                font-size: 65px;
            }

            p {
                margin-top: 50px;
                margin-bottom: 60px;
            }

            .email {
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 16px;
            }


            div {
                @include inline(center);
                gap: 20px;
                width: 100%;

                .PrimaryButton {
                    min-width: 160px;
                }

                p {
                    font-size: 42px;
                    font-weight: 300;
                    margin: 0%;
                }
            }
        }
    }

    .mainImage {
        @include flexCenter(center);

        img {
            width: 100%;
        }
    }
}


.PrimaryButton {
    background-color: $FourthColor;
    color: white;
    border: none !important;
    border-radius: 30px;
    width: 160px;
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $PrimaryColor;
    }
}

.SecondButton {
    background-color: $FourthColor;
    color: white;
    border: none;
    border-radius: 4px;
    width: 160px;
    height: 51px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $PrimaryColor;
    }
}

.products {
    @include flexCenter(center);
    width: 100%;
    gap: 60px;
    flex-wrap: wrap;

    div {
        width: 250px;
        @include flexCenter(center);
        @include column();

        img {
            border-radius: 50%;
            height: 259px;
        }

        h3 {
            text-align: center;
        }
    }
}

.titleContent {
    text-align: center;
    @include flexCenter(center);
    @include column();
    gap: 30px;
    margin-bottom: 107px;
    max-width: 100%;


    .title1 {
        width: 673px;
        margin: auto;
        font-size: 40px;
        font-weight: 500;
        max-width: 100%;
    }
}

.subtitle1 {
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-align: center;
}

.testimonials {
    @include flexCenter(center);
    margin-bottom: 199px;
    margin-top: 98px;

    .testimonial,
    .testimonial2 {
        width: 451px;
        height: 254px;
        border-radius: 8px;
        position: relative;
        @include flexCenter(center);
        @include column();

        .comment {
            @include flexCenter(center);
            @include column();
            gap: 24px;
            margin: 50px 40px 90px;
            text-align: center;
        }

        .avatar {
            position: absolute;
            border-radius: 50%;
            bottom: -65px;

            p {
                color: $SeventyColor;
                font-weight: 600;
                font-size: 16px;
            }
        }
    }

    .testimonial {
        background-color: $SixthColor;
        color: $SeventyColor;
    }

    .testimonial2 {
        position: relative;
        bottom: 37px;
        background-color: $FourthColor;
        color: $EightyColor;
    }
}

.happyHour {
    @include flexCenter(center);
    @include column();

    h2 {
        width: 615px;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 24px;
    }
}

footer {
    .footerContent {
        @include flexBetween(top);

        h2 {
            font-size: 16px;
        }

        ul {
            max-width: 356px;
            margin-top: 26px;
            list-style: none;

            li {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 13px;
            }
        }

        form {
            @include flexCenter(center);
            @include column();
            min-width: 400px;
            width: 467px;
            gap: 18px;
            margin-top: 31px;

            input,
            textarea {
                width: 100%;
                border: none;
                padding-left: 16px;
                height: 53px;
            }

            textarea {
                width: 96%;
                padding: 17px 16px;
                height: 150px;
            }

            .btnSubmit {
                width: 100%;
                @include inline(end);
                justify-content: right;
            }

        }

    }
}
@media screen and (max-width: 768px) {
    header {
        nav {
            padding: 18px 20px;
            .desktop {
                display: none;
            }

            .mobile {
                display: flex;
                @include inline(unset);
                @include column();

                .mobileOptions {
                    @include flexBetween(center);

                    .hamburguer {
                        width: 50px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .sectionContent {
        .contentDescription {
            width: 60%;
        }

        gap: 20px;
    }

    footer {
        .footerContent {
            @include flexCenter(center);
            gap: 10px;
            flex-wrap: wrap;

            form {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .mainContent {
        width: 100%;
        @include flexCenter(center);

        div.mainText {
            width: 100%;

            h1 {
                width: 100%;
                font-size: 70px;
            }

            span {
                text-align: center;
                font-size: 50px;
            }

            div {
                width: 100%;
                @include flexCenter(center);
                @include column();
            }
        }

        div.mainImage {
            display: none;
        }
    }

    .titleContent {
        margin-bottom: 30px;

        .title1 {
            width: 100%;
        }
    }

    .products {
        gap: 20px;

        p {
            text-align: center;
        }
    }

    .sectionContent {
        padding: 2%;
        flex-wrap: wrap;
        gap: 5px;

        .sectionImg {
            @include flexCenter(center);

            img {
                width: 280px;
                height: 300px;
            }
        }

        .contentDescription {
            text-align: center;

            .text {
                margin-bottom: 20px;
                text-align: justify;
            }

            ul {
                margin-bottom: 20px;
            }
        }
    }

    .testimonials {
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 120px;

        .testimonial2 {
            bottom: 0px;
        }
    }

    .happyHour {
        h2 {
            width: 100%;
        }

        p {
            text-align: center;
        }
    }

    footer {
        .footerContent {
            form {
                min-width: 290px;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .mainContent {
        .mainText {
            h1 {
                font-size: 50px;
            }

            span {
                font-size: 40px;
            }
        }
    }
}